# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist

# Testing
coverage

# Development
.env*.local
.env

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Documentation
*.md
!README.md

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
